[Unit]
Description=Mobile phone scan
After=motion.service
Requires=motion.service

[Service]
Type=simple
EnvironmentFile={% pwd %}/motion.env
ExecStart={% motion2telegram %} -s
Restart=always

[Install]
WantedBy=multi-user.target
